#applink-edit-form .applinks-edit-input {
    max-width: 300px;
}

.action-buttons {
    border-top: 1px solid #CCC;
    margin-top: 20px;
    padding-top: 20px;
}

table.aui.auth-table td {
    vertical-align: middle;
}

.auth-table .remote-auth-row-item {
    margin-left: 1.5em;
}

.remote-application-icon {
    vertical-align: middle;
}

.auth-table td.direction {
    width: 12%;
}

.auth-table td.local-auth {
    /* min-width so the OAuth pickers don't shrink into 2 lines */
    min-width: 250px;
}

.auth-table td.local-auth-59 {
    padding-right: 25px; /* AUI 5.9+ */
}

.auth-table td.local-auth-58 {
    padding-right: 0px; /* AUI 5.8 */
}

table.aui.auth-table .oauth-dropdown {
    max-width: none; /* required for AUI 5.9 - no effect on 5.8 */
}

.auth-table td.arrow-indicator {
    width: 40px;
    padding-left: 0;
}

.auth-table td.arrow-indicator-59 {
    padding-right: 6px;
}

.auth-table td.arrow-indicator-58 {
    padding-right: 8px;
}

.auth-table td.arrow-indicator button {
    /* horizontal center alignment using display:block and margin:auto */
    display: block;
    margin: 0 auto 0 auto;
}

.auth-table td.arrow-indicator span {
    border: 1px solid transparent;  /* Need this border to keep span same size as aui-button */
    display: block;
    margin: 0 auto 0 auto;
}

.auth-table td.remote-auth {
    width: 50%;
}

.auth-table td.remote-auth .remote-application-link {
    text-overflow: ellipsis;
    max-width: 250px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}

.v3-connectivity-arrow {
    /* horizontal center alignment using display:block and margin:auto */
    display: block;
    margin: 0 auto 0 auto;
    height: 16px;
    width: 40px;
}

/* to fix AUI 5.8 compatibility issues */
.oauth-dropdown input.text {
    max-width: 90%;
}

.oauth-mismatch-dialog-contents {
    width: 300px;
}

.applink-edit-message-bar {
    margin-top: 20px;
}

#applink-edit-header .applink-name {
    max-width: 85%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
