// all styles within the V3 applinks list
table.v3-applinks-list {
    tbody {

        // applied to all rows/cells
        td {
            // vertical-align all row elements in the middle
            > img {
                vertical-align: middle;
            }
            > span {
                vertical-align: middle;
            }
            > div {
                vertical-align: middle;
            }
        }

        // ID badge column
        .id-badge {

            .applinks-name-primary {
                white-space: nowrap;
            }

            .applinks-name {
                display: inline-block;
                margin-right: 0;
                padding-top: 1px;
                padding-bottom: 1px;
                font-size: 14px;
                font-weight: bold;
                vertical-align: middle;
                max-width: 100%;
                line-height: 1;
            }

            .primary-lozenge {
                display: inline-block;
                vertical-align: middle;
                line-height: 1;
                margin-left: 10px;
            }
        }

        // Actions column
        .actions {
            text-align: right;
        }
    }
}

#v3-no-applinks-notice {
    width: 400px;
    margin: 50px auto 0;
    text-align: center;

    h3 {
        margin-top: 20px;
    }
}
