#admin-body-content {
    width: 100%;
}
div .local-app-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100confluence.png);
}

div .applinks-entity-header > ul {
    white-space: nowrap;
}
div .applinks-entity-header ul .aui-dd-parent {
	position: static;
}

#ual .aui-dd-parent .aui-dropdown li {
    height: auto;
    line-height: normal;
    padding: 0 .3em;
}

.ual-help-link {
	top: 10px;
    bottom: 0;
}

div.help-users-trust {
    top: 70px;
}

/* Moved from applinks.css.
   This was applied to stop the user dropdown going underneath the message box. This breaks other products though */
.aui-message.closeable {
    z-index: 5;
}

div .local-app-image {
    background-image: url(../../download/resources/com.atlassian.applinks.applinks-plugin:applinks-images/images/config/logos/100confluence.png);
}

div .applinks-entity-header > ul {
    white-space: nowrap;
}
div .applinks-entity-header ul .aui-dd-parent {
	position: static;
}

#ual .aui-dd-parent .aui-dropdown li {
    height: auto;
    line-height: normal;
    padding: 0 .3em;
}

.ual-help-link {
	top: 10px;
    bottom: 0;
}

div.help-users-trust {
    top: 70px;
}

/* Moved from applinks.css.
   This was applied to stop the user dropdown going underneath the message box. This breaks other products though */
.aui-message.closeable {
    z-index: 5;
}


#add-application-link-dialog form.aui .field-group label,
#edit-application-link-dialog form.aui .field-group label {
    float: left;
    margin-left: -145px;
    padding: 5px 0 0 0;
    position: relative;
    text-align: right;
    width: 130px;
    word-wrap: break-word;
    left: auto;
}


#edit-application-link-dialog .dialog-panel-body.auth-panel {
    padding: 0 0 5px 0;
}

.auth-container .active-pane {
    padding-left: 20px;
}