##The table rework involved different header rows.
    <script type="text/x-template" title="al-row">
        <tr class="ual-row" id="ual-row-{displayUrl}" application-id="{applicationId}">
            <td headers="icon" class="ual-cell application-icon">{iconTag}</td>
            <td headers="name" class="ual-cell application-name">{name}</td>
            <td headers="displayUrl" class="ual-cell display-url"><a href="{displayUrl}" target="_blank">{displayUrl}</a></td>
            <td headers="applicationUrl" class="ual-cell application-url"><a href="{rpcUrl}" target="_blank">{rpcUrl}</a></td>
            <td headers="type" class="ual-cell application-type">{typeLabel}</td>
            <td headers="isPrimary" class="ual-cell primary-column"><div class="applinks-primary-{isPrimary}" title="${i18n.getText("applinks.link.primary.application.link")} {typeLabel}">&nbsp;</div></td>
            <td headers="actions" class="ual-cell application-actions">
                <ul class="menu app-actions">
                    <li>
                        <a href="#" class="app-edit-link">${i18n.getText("applinks.edit")}</a>
                    </li>
                    <li>
                        <span class="app-toggleprimary-action"><a href="#" class="app-toggleprimary-link">${i18n.getText("applinks.makeprimary")}</a> </span>
                    </li>
                    <li>
                        <a href="#" class="app-delete-link"><span class="aui-icon aui-icon-small aui-iconfont-remove">${i18n.getText("applinks.delete")}</span></a>
                    </li>
                </ul>
            </td>
        </tr>
    </script>
    <script type="text/x-template" title="al-system-row">
        <tr class="ual-row" id="ual-row-{displayUrl}" application-id="{applicationId}" data-readonly="true">
            <td headers="icon" class="ual-cell application-icon">{iconTag}</td>
            <td headers="name" class="ual-cell application-name">{name}</td>
            <td headers="displayUrl" class="ual-cell display-url"><span class="ual-read-only">${i18n.getText("applinks.system.link")}</span></td>
            <td headers="applicationUrl" class="ual-cell application-url"><span class="ual-read-only">${i18n.getText("applinks.system.link")}</span></td>
            <td headers="type" class="ual-cell application-type">{typeLabel}</td>
            <td headers="isPrimary" class="ual-cell primary-column"><div class="applinks-primary-{isPrimary}" title="${i18n.getText("applinks.link.primary.application.link")} {typeLabel}">&nbsp;</div></td>
            <td headers="actions" class="ual-cell application-actions">
                <span class="ual-read-only">${i18n.getText("applinks.system.links.cannot.be.edited")}</span>
            </td>
        </tr>
    </script>
    <table class="aui" style="display: none;" id="application-links-table">
        <thead>
        <tr>
            <th id="icon"><!-- icon --></th>
            <th id="name">${i18n.getText("applinks.app.name")}</th>
            <th id="displayUrl">${i18n.getText("applinks.details.display.url")}</th>
            <th id="applicationUrl">${i18n.getText("applinks.app.url")}</th>
            <th id="type">${i18n.getText("applinks.app.type")}</th>
            <th id="isPrimary" class="primary-column">${i18n.getText("applinks.app.primary")}</th>
            <th id="actions"></th>
        </tr>
        </thead>
        <tbody id="applicationsList">

        </tbody>
    </table>